body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

#board {
  display: block;
  margin: 0 auto;
  background-image: url(./images/flappybirdbg.png);
  background-size: cover;
}
